.productsNotFoundCard-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 500px;
  background-color: transparent;
}

.productsNotFoundCard-image {
  width: 300px;
  height: auto;
}

.productsNotFoundCard-text {
  margin: 20px auto;
  line-height: 1.5;
  // color: $primary-color;
  text-align: center;
}

.productsNotFoundCard-button {
  margin: 20px 0 0;
  border-radius: 2px;
}
