.Plan_Element {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: var(--main-color-bg4);
  border-color: #f8f9fa;
  margin-bottom: 20px;

  &--isActive {
    border: 2px solid var(--main-color-pink);
  }

  img {
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
    margin-bottom: 20px;
  }
}

.Panel__Content {
  .Payment_Card {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
