.RatingWdgt__Header {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 767px) {
    justify-content: center;
    flex-flow: column;

    > * {
      margin-bottom: 20px;
    }
  }
}

.Review {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #eee;
  display: flex;
  padding-top: 25px;
  margin-top: 25px;

  .Review__Header {
    margin-bottom: 5px;
    flex: 0 0 33%;
  }

  .Review__Icon {
    position: relative;
    float: left;
    width: 3.2em;
    height: 3.2em;
    line-height: 3.2em;
    margin-right: 12px;
    text-align: center;
    border-radius: 50%;
    color: var(--main-color-bg4);
    background-color: var(--main-color-pink);
  }

  .Review__Timestamp {
    position: relative;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.6px;
    margin-left: 10px;
  }

  .Review__Timestamp + .Review__br {
    padding-bottom: 1px;
  }

  .Review__Author {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.75px;
    font-weight: 600;
  }

  .Review__Content {
    flex: 0 0 55%;
  }

  .Review__Title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 22px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  .Review__Body p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.65px;
  }

  .Review__Pics {
    margin: 15px 5px 3px 0;
    padding: 0;
    display: inline-block;
    height: 120px;
    width: 120px;
    cursor: pointer;
    overflow: hidden;

    // img {
    //   position: relative;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   border-radius: 4px;
    // }
  }

  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
    .Review__Header,
    .Review__Content {
      flex: 0 0 100%;
    }
  }
}
