.StrengthIndicator {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: -15px;

  &__Marker {
    width: 85px;
    height: 8px;
    border-radius: 7px;
    margin-right: 16px;
  }
}
