.EmptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 20px;

  &__Image {
    width: 180px;
    height: 165px;
  }

  &__Header {
    margin: 25px 87px 11px;
    color: #282c3f;
  }

  &__Subhead {
    margin: 20px auto;
    line-height: 1.5;
    color: #696e79;
    text-align: center;
  }
}
