.OverlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  visibility: hidden;
  background-color: #000000bf;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.OverlayContainer__Visible {
    visibility: visible;
  }
}
